h1 back to the homepage!

if currentUser
    h2 You're login as #{currentUser.fullName}
else
    h2 You're not login yet.
    a(href='/login') Login

form(method="POST", action="/search")
    div 
    label(for='searchContent') Search:
    br
    input(type='text', placeholder='Search for a name' name='searchContent' required='true')
    br
    button(type='submit' formaction='/search') Search

form(method="POST", action="/posts")
        div 
            label(for='postContent') Write a post:
            br
            input(type='text', placeholder='What is on your mind' name='postContent' required='true')
            br
        button(type='submit' formaction='/posts') Post

each post in all_posts
    p= post.content
    p= post.author.fullName
    p= post.likes
    p= post.date

if errors
    ul
        for error in errors
            li!= error.msg