extends layout

block content

    if currentUser
        br
        div(class="col-sm-12 row")
                div(class="col-sm-9 bar d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm")
                    div(class="col-sm-2")
                        img(class=" profile" src="/images/profile.jpg" alt="", width="50", height="50")
                    div(class="lh-100 col-sm-3")
                        h6(class="text-white lh-100")= currentUser.fullName
                        small= currentUser.bio
                div(class="col-sm-3  text-center")
                    form(method="POST", action="/posts" id="status")
                        div 
                            label(for='postContent') Write a post:
                            br
                            textarea(id="postbox", placeholder='What is on your mind' name='postContent' required='true')
                            br
                        button(type='submit'  formaction='/posts') Post
                    
        br
        p Posts:

        each post in all_posts
            div(class="my-3 p-3 bg-light rounded shadow-sm")
                div(class="media text-muted pt-3 border-bottom border-gray")
                    img(class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="/images/profile.jpg")
                    p(class="media-body pb-3 mb-0 small lh-12")
                        a(href= post.author.url class=" strong d-block text-gray-dark")= post.author.fullName
                        Donec= post.dateFormat

                    if post.author._id.equals(currentUser._id)
                        form(method="POST" class="d-block text-right mt-3" action=post.url+"/delete")
                            button(type="submit" class="btn btn-light btn-sm") Delete Post

                br        
                h6(class="pb-2 mb-0")= post.content

                small(class="d-block text-right mt-3")
                    a(href= post.url) Comment
            
    else
        br
        br
        br
        h3(style="text-align:center" class="text-secondary") You're not login yet. #[a(href="/login") Login] to connect with your friends!


    if errors
        ul
            for error in errors
                li!= error.msg