extends layout

block content
    if currentUser
        div(class="my-3 p-3 bg-white rounded shadow-sm")
            div(class="media text-muted pt-3 border-bottom border-gray")
                img(class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="/images/profile.jpg")
                p(class="media-body pb-3 mb-0 small lh-125")
                    a(href= post.author.url class=" strong d-block text-gray-dark")= post.author.fullName
                    Donec= post.dateFormat

                if post.author._id.equals(currentUser._id)
                    small(class="d-block text-right mt-3")
                        a(href= post.url+"/delete") Delete post

            br        
            h6(class="pb-2 mb-0")= post.content

            br
            p Comments:

            for comment in comments
                div(class="my-3 p-3 bg-light rounded shadow-sm col-sm-10")
                    div(class="media text-muted pt-3 border-gray grid")

                        img(class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="/images/profile.jpg")
                        p(class="media-body pb-3 mb-0 small lh-125")
                            a(href= comment.author.url class=" strong d-block text-gray-dark")= comment.author.fullName
                            Donec= comment.content

                        if comment.author._id.equals(currentUser._id)
                            form(method="POST" class="d-block text-right mt-3" action="/comments/"+comment._id+"/delete")
                                button(type="submit" class="btn btn-light btn-sm") Delete
            
            div(class="col-sm-10")
                form(method='POST', action='' class="form-signin" id="comment_form")
                    div(class= "form-label-group")
                        textarea(class="form-control", placeholder='Write a Comment:' name='commentContent' required='true')
                    br
                    div(class="col text-center")
                        button.btn.btn-secondary(type='submit' formaction='/comments/'+post._id) Comment


    else
        br
        br
        br
        h3(style="text-align:center" class="text-secondary") You're not login yet. #[a(href="/login") Login] to connect with your friends!