extends layout

block content
    if currentUser   
        br
        br
        h1(class="text-center text-muted")= title
        br
        br

        form(method="POST", action="" class="form-signin")
            div(class= "form-group") 
                label(for='first_name') First Name:
                br
                input(type='text', class="form-control" placeholder=currentUser.firstName name='first_name' required='true')
                br
            div(class= "form-group") 
                label(for='last_name') Last Name:
                br
                input(type='text', class="form-control", placeholder=currentUser.lastName name='last_name' required='true')
                br
            div(class= "form-group") 
                label(for='email') Email (used to signin):
                br
                input(type='text', class="form-control", placeholder= currentUser.email name='email' required='true')
                br
            br
            div(class= "form-group") 
                label(for='bio') Bio:
                br
                input(type='textarea', class="form-control", id="exampleFormControlTextarea1", rows="3", placeholder=currentUser.bio name='bio' required='false')
                br
            br
            div(class="col text-center")
                button.btn.btn-primary(type='submit' name="userToEditId" value=currentUser._id) Edit Profile
    else
        br
        br
        br
        h3(style="text-align:center" class="text-secondary") You're not login yet. #[a(href="/login") Login] to connect with your friends!

    if errors
        ul
            for error in errors
                li!= error.msg