extends layout

block content

    br

    if currentUser    
        if currentUser._id.equals(user._id)
        
            div(class="col-sm-12 row")
                div(class="col-sm-9 bar d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm")
                    div(class="col-sm-2")
                        img(class=" profile" src="/images/profilepika.png" alt="", width="55", height="50")
                    div(class="lh-100 col-sm-3")
                        h6(class="text-white lh-100")= user.fullName
                        small= user.bio
                div(class="col-sm-3  text-center")
                    form(method="POST", action="/posts" id="status")
                        div 
                            label(for='postContent') Write a post:
                            br
                            textarea(id="postbox", placeholder='What is on your mind' name='postContent' required='true')
                            br
                        button(type='submit' formaction='/posts') Post

        else
            div(class="col-sm-12")
                div(class="bar d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm")
                    div(class="col-sm-1")
                        img(class=" profile" src="/images/profilepika.png" alt="", width="55", height="50")
                    div(class="lh-100 col-sm-8")
                        h6(class="text-white lh-100")= user.fullName
                        small= user.bio
                    
                    if pendingfriend
                        div(class="col-sm-2")
                            h7(class="text-white") Friend request is pending!
                    else if !isfriend
                        div(class="col-sm-3")
                            form(method="POST", action='/users/'+ user._id +'/friendrequest/' + currentUser._id id="status")
                                div 
                                    label(for='friend') Send a friend request:
                                button(type='submit' name="urltoredirect" value=user.url formaction='/users/'+ user._id +'/friendrequest/' + currentUser._id) add Friend
                    else
                        div(class="col-sm-2")
                            h7(class="text-white") You're friends!
                            
    else 
        div(class="col-sm-12")
            div(class="bar d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm")
                div(class="col-sm-1")
                    img(class=" profile" src="/images/profilepika.png" alt="", width="55", height="50")
                div(class="lh-100 col-sm-8")
                    h6(class="text-white lh-100")= user.fullName
                    small= user.bio 
    br


    if currentUser
        if currentUser._id.equals(user._id)
            p Your Posts:
        else
            p #{user.fullName}'s Posts
    else
        p #{user.fullName}'s Posts

    for post in postsOfUser
        div(class="my-3 p-3 bg-light rounded shadow-sm")
            div(class="media text-muted pt-3 border-bottom border-gray")
                img(class="bd-placeholder-img mr-2 rounded" width="35" height="32" src="/images/profilepika.png")
                p(class="media-body pb-3 mb-0 small lh-125")
                    a(href= post.author.url class="strong d-block text-gray-dark")= post.author.fullName
                    Donec= post.dateFormat
                if currentUser 
                    if post.author._id.equals(currentUser._id)
                        div(class="d-block text-right mt-3")
                            a(href=post.url+"/edit" class="btn btn-light btn-sm" role="button") Edit Post
                        form(method="POST" class="d-block text-right mt-3" action=post.url+"/delete")
                            button(type="submit" class="btn btn-light btn-sm") Delete Post

            br        
            h6(class="pb-2 mb-0 col-sm-2")=  post.content
            br
            div(class="border-bottom")
            br

            div(class="d-flex justify-content-between")
                form(method='POST' action="/addlike" class="inline")
                    input(type="hidden" name="postID" value=post._id)
                    button(type="submit" formaction="/addlike" name="urltoredirect" value=user.url class="link-button likes")= post.likes + " likes"

                small(class="d-block")
                    a(href= post.url) Leave comment
            
            // p Comments:

            for comment in comments
                if post._id.equals(comment.postID)
                    div(class="my-3 p-3 bg-white rounded shadow-sm col-sm-10")
                        div(class="media text-muted pt-3 border-gray grid")

                            img(class="bd-placeholder-img mr-2 rounded" width="35" height="32" src="/images/profilepika.png")
                            p(class="media-body pb-3 mb-0 small lh-125")
                                a(href= comment.author.url class=" strong d-block text-gray-dark")= comment.author.fullName
                                Donec= comment.content

                            if comment.author._id.equals(currentUser._id)
                                form(method="POST" class="d-block text-right mt-3" action="/comments/"+comment._id+"/delete")
                                    button(type="submit" class="btn btn-light btn-sm") Delete